/******************************************************/
/************************ BODY ************************/

body {
    background: linear-gradient(45deg, #4a7729, #95ff4a);
    background-size: 400% 400%;
    height: 100vh;
}

.negative-padding-bottom {
    margin-top: 20px;
    /* Aquí puedes ajustar el valor según tus necesidades */
}

.form-rounded {
    border-radius: 1rem;
}

.custom-container {
    height: 100vh;
    /* Asegura que el contenedor ocupe toda la altura de la ventana */
}

.custom-box {
    width: 600px;
    height: 55%;
    /* 40% de la altura del viewport */
}

.btn-terracota {
    color: black;
    /* Color del texto */
    background-color: #fc5f38;
    /* Color de fondo terracota */
    border-color: #fc5f38;
    /* Color del borde terracota */
}

.btn-terracota:hover {
    color: black;
    /* Color del texto en estado hover */
    background-color: #d24a28;
    /* Color de fondo en estado hover terracota */
    border-color: #d24a28;
    /* Color del borde en estado hover terracota */
}

.btn-mostaza {
    color: black;
    /* Color del texto */
    background-color: #f5b820;
    /* Color de fondo mostaza */
    border-color: #f5b820;
    /* Color del borde mostaza */
}

.btn-mostaza:hover {
    color: black;
    /* Color del texto en estado hover */
    background-color: #c39215;
    /* Color de fondo en estado hover mostaza */
    border-color: #c39215;
    /* Color del borde en estado hover mostaza */
}

.btn-inverse-mostaza {
    color: black;
    /* Color del texto */
    background-color: rgba(var(--bs-body-bg-rgb), var(--bs-bg-opacity));
    /* Color de fondo mostaza */
    border-color: black;
    /* Color del borde mostaza */
}

.btn-inverse-mostaza:hover {
    color: black;
    /* Color del texto en estado hover */
    background-color: #f5b820;
    /* Color de fondo en estado hover mostaza */
    border-color: #f5b820;
    /* Color del borde en estado hover mostaza */
}

.btn-inverse-mostaza:focus {
    color: black;
    /* Color del texto en estado hover */
    background-color: #dba51c;
    /* Color de fondo en estado hover mostaza */
    border-color: #dba51c;
    /* Color del borde en estado hover mostaza */
}

.btn-purple {
    color: rgb(255, 255, 255);
    /* Color del texto */
    background-color: #4a7729;
    /* Color de fondo mostaza */
    border-color: #4a7729;
    /* Color del borde mostaza */
}

.btn-purple:hover {
    color: rgb(255, 255, 255);
    /* Color del texto en estado hover */
    background-color: #4a7729;
    /* Color de fondo en estado hover mostaza */
    border-color: #4a7729;
    /* Color del borde en estado hover mostaza */
}

.btn-inverse-light {
    color: #000000;
    /* Color del texto */
    background-color: #FFFFFF;
    /* Color de fondo personalizado */
    border-color: #FFFFFF;
    /* Color del borde personalizado */
}

.btn-inverse-light:hover {
    color: #FFFFFF;
    /* Color del texto en estado hover */
    background-color: #000000;
    /* Color de fondo en estado hover */
    border-color: #000000;
    /* Color del borde en estado hover */
}

.btn-inverse-light:disabled {
    border: 0;
}

.background-div {
    z-index: -5;
}

.front {
    z-index: 1000;
}

.custom-max-width {
    max-width: 100px;
}

.custom-max-height {
    max-height: 85%;
}

.background-creme {
    background-color: #e9d9c2;
}

.background-orangehigh {
    background-color: #f55949;
}

.btn-primary:disabled {
    background-color: #cccccc;
    /* Gris */
    color: #666666;
    border: #666666;
    cursor: not-allowed;
}

/*-------------- REGISTER ----------------*/

#autocomplete {
    width: 300px;
    padding: 8px;
    margin: 10px;
}

#results {
    margin-top: 20px;
    max-width: 300px;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
}

.result-item {
    padding: 8px;
    cursor: pointer;
}

.result-item:hover {
    background-color: #f0f0f0;
}

.scroll-hover {
    overflow: hidden;
    /* Ocultar el scroll por defecto */
    transition: overflow 0.3s ease;
    /* Suavizar la transición */
    max-height: 40vh;
    /* Ocupa máximo 100% de la altura disponible */
    max-width: 90%;
    /* Ocupa máximo 100% del ancho disponible */
    overflow-y: auto;
    flex-grow: 1;
    padding: 15px;
}

/* Mostrar el scroll al hacer hover */
.scroll-hover:hover {
    overflow-y: auto;
    /* Mostrar solo scroll vertical */
}

/* Personalización del scrollbar */
.scroll-hover::-webkit-scrollbar {
    width: 8px;
}

.scroll-hover::-webkit-scrollbar-thumb {
    background-color: #888;
    /* Color del scrollbar */
    border-radius: 4px;
}

.scroll-hover::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    /* Color del scrollbar en hover */
}

/*-----------*/

/* Colocar el asterisco rojo al lado del label de campos obligatorios */
label.required::after {
    content: ' *';
    color: red;
    /* Asterisco rojo por defecto */
}

/* Cambiar el color del asterisco si el campo está correcto */
label.required.valid::after {
    color: green;
    /* Asterisco verde si es válido */
}

/*-------------*/

.tab {
    display: inline-block;
    width: 40px;
    /* Ajusta el ancho a lo que desees para tu "tabulador" */
}

/*-------------*/

.rounded-div {
    border-radius: 15px;
    /* Bordes redondeados */
    padding: 20px;
    /* Espacio interno */
    background-color: #979797;
    /* Color de fondo */
    text-align: center;
    /* Centrar texto */
    margin-bottom: 20px;
    /* Espacio inferior entre divs */
    object-fit: contain;
    transition: background-color 0.3s ease;
}

.checked {
    background-color: #f9d95a;
}

.scroll-hover-pref {
    max-width: 100%;
    overflow-y: auto;
    flex-grow: 1;
    padding: 15px;
    max-height: calc(100% - 60px); /* Espacio para el botón */
}

.responsive-span {
    font-size: 1.5vw;
}

/*------------------ PREFERENCES ------------------ */

.modal {
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.information {
    display: none;
    z-index: 5 !important;
}

.thanks {
    display: block;
    z-index: 5;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.info-content {
    background-color: #fefefe;
    width: 60%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.experiment-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*------------------ RECOMMENDATIONS ------------------ */

.checked {
    background-color: #f5b820;
}

.custom-width {
    width: 75%;
}

@media (max-width: 576px) {
    .custom-width {
      width: 90%;
    }
}

/*------------------ GENERAL ------------------ */

.sm-maxwidth {
    max-width: 100px;
}

.med-maxwidth {
    max-width: 500px;
}
.responsive-title {
    font-size: clamp(1rem, 5vw, 2rem);;
}

/*----------------- QUESTIONS ----------------- */

.checked-button {
    border-color: #f5b820;
    background-color: #f5b820;
}

.form-check-input:checked {
    border-color: #f5b820;
    background-color: #f5b820;
    appearance: auto;
}

.checked-checkbox:checked {
    border-color: #f5b820;
    background-color: #f5b820;
}

/*------------ NEW RECOMMENDATIONS ------------ */

input[type="checkbox"] {
    accent-color: #d24a28;
}

/*------------ QUESTIONNAIRE ------------ */

