meeple/meeple/database/
meeple/meeple/static/images/media/images_zacatrus/
**/__pycache__/
meeple/meeple/evaluation/migrations/
vendor/
bgg_zacatrus_sql.zip
database/
meeple/meeple/meeple/migrations/
meeple/meeple/meeple/management/